 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     line-height: 1;
     cursor: default;
 }

 button,
 a,
 article img {
     cursor: pointer;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: white;
     color: #444;
 }

 h1,
 h2 {
     letter-spacing: 3px;
 }

 h1 {
     font-size: 3rem;
     margin: 0 5% 0 3%;
 }

 h2 {
     font-size: 2.8rem;
     margin: 60px 0 30px 0;
 }

 h1,
 h2,
 .quote,
 footer a,
 .foot-text {
     text-align: center;
 }

 a {
     color: #444;
     transition: 0.8s;
 }

 p {
     line-height: 150%;
     padding: 10px;
 }

 .round {
     border-radius: 12px;
 }

 section,
 form {
     padding: 0 5% 0 5%;
 }

 article,
 article div,
 span {
     display: flex;
 }

 article {
     flex-direction: column;
     background-color: #dcdcdc;
     padding: 2em;
     border-radius: 12px;
     border: 3px solid silver;
 }

 article div {
     padding-top: 1.8em;
     flex-direction: row;
     justify-content: space-between;
 }

 span {
     align-items: center;
 }

 article img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }

 form,
 article,
 #guestbookComms {
     max-width: 900px;
     margin: 20px auto 0 auto;
 }

 form {
     margin-bottom: 8%;
 }

 #guestbookComms {
     margin-bottom: 10%;
 }

 input,
 textarea {
     font-size: 150%;
     width: 100%;
     padding: 8px 8px 8px 15px;
 }

 input,
 textarea {
     margin: 12px 0 20px 0;
 }

 button {
     display: block;
     margin: auto;
     padding: 15px 50px;
 }


 /* STYLES BELOW FROM WEEK 1 ASSIGNMENT,
     KEEPING DESIGN CONSISTENT */

 header,
 header nav,
 footer nav {
     display: flex;
 }

 header {
     width: 100%;
     padding: 20px;
     justify-content: space-between;
     background-color: red;
 }

 nav a,
 .quote {
     font-size: 120%;
 }

 header nav,
 footer nav {
     gap: 6px;
 }

 header,
 footer nav {
     align-items: center;
     align-content: center;
 }

 footer nav {
     width: 80%;
     margin: auto;
     justify-content: space-around;
 }

 nav a,
 .tagline,
 footer {
     background-color: silver;
     padding: 16px;
 }

 .tagline {
     margin-bottom: 50px;
 }

 header a:hover {
     text-decoration: underline;
 }

 footer a {
     padding: 1em 2%;
     background-color: #ccc;
 }

 footer a {
     flex: 1;
 }

 footer a:hover,
 .item a:hover {
     background-color: #eee;
 }

 .quote,
 input,
 textarea {
     font-family: monospace;
     font-style: italic;
 }

 .foot-text {
     margin: 3em 0 2em 0;
 }

 /* Button styling from W3 schools, modified slightly */
 /* Added scroll-behaviour: smooth; in css instead of using W3 Schools 'scroll to top' function */
 #topBtn {
     display: none;
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 99;
     font-size: 18px;
     border: none;
     outline: none;
     background-color: red;
     color: white;
     padding: 15px 25px;
     border-radius: 10px;
 }

 #topBtn:hover {
     background-color: #555;
 }

 @media screen and (max-width: 600px) {
     header {
         flex-direction: column;
     }

     h1,
     h2 {
         margin: 0 3% 1em 3%;
     }

     footer nav {
         width: 100%;
     }
 }

 @media screen and (max-width: 900px) {
     footer nav {
         width: 100%;
     }
 }