 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     line-height: 1;
     cursor: default;
 }

 a,
 button,
 article img {
     cursor: pointer;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: white;
     color: #444;
 }

 h1,
 h2,
 .quote,
 footer a,
 .item,
 .item a,
 .foot-text {
     text-align: center;
 }

 h1,
 h2,
 h3 {
     letter-spacing: 3px;
 }

 h1 {
     font-size: 3rem;
     margin: 0 5% 0 3%;
 }

 h2 {
     font-size: 2.8rem;
     margin: 60px 0 30px 0;
 }

 h3 {
     font-size: 2rem;
 }

 a {
     color: #444;
     transition: 0.8s;
 }

 p {
     line-height: 150%;
     padding: 10px;
 }

 article p:first-child {
     padding: 0;
     font-size: 135%;
     font-weight: bold;
 }

 img {
     width: 100%;
     height: auto;
 }

 header,
 header nav,
 footer nav {
     display: flex;
 }

 header {
     width: 100%;
     padding: 20px;
     justify-content: space-between;
 }

 header,
 .item {
     background-color: red;
 }

 nav a,
 .quote,
 .item a {
     font-size: 120%;
 }

 header nav,
 footer nav {
     gap: 6px;
 }

 header,
 footer nav {
     align-items: center;
     align-content: center;
 }

 footer nav {
     width: 80%;
     margin: auto;
     justify-content: space-around;
 }

 nav a,
 .tagline,
 footer {
     background-color: silver;
     padding: 16px;
 }

 .tagline {
     margin-bottom: 50px;
 }

 main {
     padding: 0 4% 12% 4%;
 }

 header a:hover,
 main nav a:hover {
     text-decoration: underline;
 }

 main nav a {
     margin: 0 0 0 30px;
 }

 footer a,
 .item a {
     padding: 1em 2%;
     background-color: #ccc;
 }

 footer a {
     flex: 1;
 }

 footer a:hover,
 .item a:hover {
     background-color: #eee;
 }

 section {
     border-bottom: 1px solid #ddd;
 }

 .item {
     max-width: 800px;
     position: relative;
     margin: 8% auto;
     padding: 3% 2% 2% 2%;
     box-shadow: 0 0 35px #555;
 }

 .item img {
     max-width: 400px;
     margin: 30px 0;
 }

 .item-txt {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 22%;
 }

 .item a {
     margin: 0 auto 3.6% auto;
     display: block;
     max-width: 250px;
 }

 article,
 article div,
 span {
     display: flex;
 }

 article {
     flex-direction: column;
     background-color: #dcdcdc;
     padding: 2em;
     border-radius: 12px;
     border: 3px solid silver;
 }

 article div {
     padding-top: 1.8em;
     flex-direction: row;
     justify-content: space-between;
 }

 article img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }

 form,
 article,
 #guestbookComms {
     max-width: 900px;
     margin: auto;
 }

 article {
     margin-top: 30px;
 }

 article:first-of-type {
     margin-top: 10%;
 }

 form {
    padding: 20px 5% 0 5%;
 }

 .quote,
 input,
 textarea {
     font-family: monospace;
     font-style: italic;
 }

 input,
 textarea {
     font-size: 150%;
     width: 100%;
     padding: 8px 8px 8px 15px;
     margin: 12px 0 20px 0;
 }

 button {
     display: block;
     margin: 2% auto;
     padding: 15px 50px;
 }

 span {
     align-items: center;
 }

 /* remove default styles on (likes) button */
 span button {
     all: unset;
 }

 .foot-text {
     margin: 3em 0 2em 0;
 }

 .round {
     border-radius: 12px;
 }

 #topBtn {
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 99;
     font-size: 18px;
     border: none;
     outline: none;
     background-color: red;
     color: white;
     padding: 15px 25px;
     border-radius: 10px;
 }

 #topBtn:hover {
     background-color: #555;
 }

 @media screen and (max-width: 480px) {
     h1 {
         font-size: 180%;
     }

     h2,
     h3 {
         font-size: 150%;
     }
 }

 @media screen and (max-width: 600px) {
     header {
         flex-direction: column;
     }

     h1 {
         margin: 0 3% 1em 3%;
     }

     .item {
         width: 90%;
         padding: 5%;
     }

     main nav a {
         text-align: center;
         display: block;
         max-width: 225px;
         margin: 0 auto;
     }

     footer nav {
         width: 100%;
     }
 }

 @media screen and (max-width: 900px) {

     footer nav {
         width: 100%;
     }
 }